<mat-toolbar color="primary">
  <button mat-mini-fab (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
  <span routerLink="/">{{title}}</span>
  <button mat-mini-fab><i class="material-icons">info</i></button>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenav>
		<nav>
			<a *ngFor="let drinksList of drinksLists" routerLink="{{drinksList.view}}">
				{{drinksList.title}}
			</a>
		</nav>
	</mat-sidenav>

	<mat-sidenav-content>
		<!-- routed views show up here. https://angular.io/guide/router#router-outlet -->
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

